{% extends 'base.html' %}
{% block content %}


<h2>Movie Info</h2>

<b>Title: </b>{{ movie.title }}<br>
<b>Release Date: </b>{{ movie.released_at }}<br>
<a href={{ movie.imdb_url }}> IMDB Link </a><br><br><br>

<b>Rate Movie: </b>

<form action="/movies/{{ movie.movie_id }}" method="POST">
    <input type="radio" class="rating_choice" name="rating" value="1">1
    <input type="radio" class="rating_choice" name="rating" value="2">2
    <input type="radio" class="rating_choice" name="rating" value="3">3
    <input type="radio" class="rating_choice" name="rating" value="4">4
    <input type="radio" class="rating_choice" name="rating" value="5">5
    <input type="submit" id="confirm-rating">
</form>
<br><br><br>

<table class="rating-listing">
    <tr>
        <th>User ID</th>
        <th>Score</th>
    </tr>

    {% for rating in ratings %}
        <tr>
            <td>{{ rating.user_id }}</td>
            <td> {{ rating.score }}</td>
        </tr>
    {% endfor %}

</table>

<script src="http://code.jquery.com/jquery.js"></script>
<script>

    $('#confirm-rating').on('click', handleRating);

    function handleRating(evt) {
        evt.preventDefault();
        const user_rating = {
            'rating': $(".rating_choice:checked").val()
        };

        $.post('/movies/{{ movie.movie_id }}', user_rating, (response) => { alert(response.alert); 
            if (response.rating_type === 'new') {
                $('.rating-listing').append(('<td>' + response.user_id + '</td><td>' + response.score + '</td>'));
            }
            else if (response.rating_type === 'modification') {
                location.reload();
            }
        });
    }
</script>

{% endblock %}